---
import BaseLayout from "../layouts/BaseLayout.astro"
// import ProfilePicture from "../../public/profile-photo.jpg"
---

<BaseLayout title="About" description="Get to know Andrea Diotallevi.">
    <h1>About</h1></BaseLayout
>
