---
import BaseLayout from "../layouts/BaseLayout.astro"
import NavigationLayout from "../layouts/NavigationLayout.astro"
// import ProfilePicture from "../../public/profile-photo.jpg"
---

<BaseLayout title="About" description="Get to know Andrea Diotallevi.">
    <NavigationLayout><h1>About</h1></NavigationLayout>
</BaseLayout>
