---
import BaseLayout from "@layouts/BaseLayout.astro"
---

<BaseLayout
    title="Checkout | Andrea Diotallevi Art"
    description="Complete your purchase quickly and securely with Stripe. Our streamlined checkout process is safe and easy, ensuring your details are protected."
    hideFooter={true}
    noIndex={true}
>
    <div class="max-w-screen-xl mx-auto px-4 py-8 pt-0 md:pt-8">
        <h1 class="text-center text-2xl md:text-5xl font-bold mb-4 md:mb-6">
            Checkout
        </h1>
        <div id="checkout"></div>
    </div>
</BaseLayout>

<script>
    import { loadStripe, type StripeEmbeddedCheckout } from "@stripe/stripe-js"

    let checkout: StripeEmbeddedCheckout | undefined

    document.addEventListener("astro:page-load", async () => {
        const checkoutElement = document.querySelector("#checkout") as HTMLElement
        if (!checkoutElement) return

        const stripe = await loadStripe(
            import.meta.env.PUBLIC_STRIPE_PUBLISHABLE_KEY
        )

        const params = new URLSearchParams(window.location.search)
        const clientSecret = params.get("client_secret")

        if (stripe && clientSecret && checkoutElement) {
            if (checkout) checkout.destroy()
            checkout = await stripe.initEmbeddedCheckout({ clientSecret })
            checkout.mount(checkoutElement)
        }
    })
</script>
