---
import BaseLayout from "@layouts/BaseLayout.astro"
---

<BaseLayout
    title="Checkout | Andrea Diotallevi Art"
    description="Complete your purchase quickly and securely with Stripe. Our streamlined checkout process is safe and easy, ensuring your details are protected."
    hideFooter={true}
>
    <div id="checkout" class="px-4 py-8"></div>
</BaseLayout>
