---
import BaseLayout from "@layouts/BaseLayout.astro"
---

<BaseLayout
    title="Checkout | Andrea Diotallevi Art"
    description="Complete your purchase quickly and securely with Stripe. Our streamlined checkout process is safe and easy, ensuring your details are protected."
    hideFooter={true}
>
    <div id="checkout" class="px-4 py-8"></div>
</BaseLayout>

<script>
    import { loadStripe, type StripeEmbeddedCheckout } from "@stripe/stripe-js"

    let checkout: StripeEmbeddedCheckout | undefined

    document.addEventListener("astro:page-load", async () => {
        console.log("checkout script")
        console.log(window.location.pathname)
        console.log("")
        const checkoutElement = document.querySelector(
            "#checkout"
        ) as HTMLElement

        console.log(checkoutElement)

        if (!checkoutElement) return

        const stripe = await loadStripe(
            import.meta.env.PUBLIC_STRIPE_PUBLISHABLE_KEY
        )

        if (!stripe) {
            console.error("Stripe not loaded")
            return
        }

        const params = new URLSearchParams(window.location.search)
        const clientSecret = params.get("client_secret") || ""
        console.log(clientSecret)

        if (checkout) {
            console.log("Destroying checkout...")
            checkout.destroy()
        }

        checkout = await stripe.initEmbeddedCheckout({
            clientSecret,
        })

        if (!checkout) {
            console.error("Checkout not initialised")
            return
        }

        checkout.mount(checkoutElement)
    })
</script>
