---
import BaseLayout from "@layouts/BaseLayout.astro"
---

<BaseLayout
    title="Checkout | Andrea Diotallevi Art"
    description="Complete your purchase quickly and securely with Stripe. Our streamlined checkout process is safe and easy, ensuring your details are protected."
    hideFooter={true}
>
    <div class="max-w-screen-xl mx-auto px-4 py-8 pt-0 md:pt-8">
        <h1 class="text-center text-2xl md:text-5xl font-bold mb-4 md:mb-6">
            Checkout
        </h1>
        <div id="checkout"></div>
    </div>
</BaseLayout>
