---
import { Image } from "astro:assets"
import BaseLayout from "../layouts/BaseLayout.astro"
import ContactImage from "../images/contact-page-image.jpg"
---

<BaseLayout
    title="Contact | Andrea Diotallevi Art"
    description="Get in touch if you are interested in working together."
    image={ContactImage.src}
>
    <div
        class="flex flex-col md:flex-row items-center md:items-start p-4 max-w-screen-xl mx-auto"
    >
        <div class="w-full md:w-1/2 mb-6 md:mb-0 md:mr-8">
            <Image
                src={ContactImage}
                alt="Contact Image"
                class="w-full h-auto rounded-lg"
            />
        </div>

        <div class="w-full md:w-1/2">
            <h1 class="text-4xl font-bold mb-4">Contact</h1>
            <form id="contact-form" class="space-y-4">
                <div>
                    <label for="name" class="block text-lg font-medium mb-1"
                        >Name:</label
                    >
                    <input
                        id="name"
                        name="name"
                        type="text"
                        class="w-full px-3 py-2 border border-gray-800 rounded-md"
                        placeholder="Your Name"
                        autocomplete="name"
                        required
                    />
                </div>

                <div>
                    <label for="email" class="block text-lg font-medium mb-1"
                        >Email:</label
                    >
                    <input
                        id="email"
                        name="email"
                        type="email"
                        class="w-full px-3 py-2 border border-gray-800 rounded-md"
                        placeholder="Your Email"
                        autocomplete="email"
                        required
                    />
                </div>

                <div>
                    <label for="subject" class="block text-lg font-medium mb-1"
                        >Subject:</label
                    >
                    <input
                        id="subject"
                        name="subject"
                        type="text"
                        class="w-full px-3 py-2 border border-gray-800 rounded-md"
                        placeholder="Subject"
                        autocomplete="subject"
                        required
                    />
                </div>

                <div>
                    <label for="message" class="block text-lg font-medium mb-1"
                        >Message:</label
                    >
                    <textarea
                        id="message"
                        name="message"
                        class="w-full px-3 py-2 border border-gray-800 rounded-md"
                        rows="6"
                        placeholder="Your Message"
                        autocomplete="message"
                        required></textarea>
                </div>

                <button
                    type="submit"
                    class="mt-6 px-6 py-3 text-white bg-black rounded-lg w-full hover:bg-gray-800"
                >
                    Send
                </button>
            </form>
        </div>
    </div>
</BaseLayout>

<script>
    import { sendContactPageEmail } from "../utils/serverless"

    const form = document.querySelector("#contact-form")

    form?.addEventListener("submit", async e => {
        e.preventDefault()

        const name = (document.getElementById("name") as HTMLInputElement).value

        const email = (document.getElementById("email") as HTMLInputElement)
            .value

        const subject = (document.getElementById("subject") as HTMLInputElement)
            .value

        const message = (document.getElementById("message") as HTMLInputElement)
            .value

        const response = await sendContactPageEmail({
            name,
            email,
            subject,
            message,
        })

        console.log(response)
    })
</script>
