---
import { Image } from "astro:assets"
import BaseLayout from "../layouts/BaseLayout.astro"
import ContactImage from "../images/contact-page-image.jpg"
---

<BaseLayout
    title="Contact | Andrea Diotallevi Art"
    description="Get in touch if you are interested in working together."
    image={ContactImage.src}
>
    <div
        class="flex flex-col md:flex-row items-center md:items-start p-4 max-w-screen-xl mx-auto"
    >
        <div class="w-full md:w-1/2 mb-6 md:mb-0 md:mr-8">
            <Image
                src={ContactImage}
                alt="Contact Image"
                class="w-full h-auto rounded-lg"
            />
        </div>

        <div class="w-full md:w-1/2">
            <h1 class="text-4xl font-bold mb-4">Contact</h1>
            <form id="contact-form" class="space-y-4">
                <div>
                    <label for="name" class="block text-lg font-medium mb-1"
                        >Name:</label
                    >
                    <input
                        id="name"
                        name="name"
                        type="text"
                        class="w-full px-3 py-2 border border-gray-800 rounded-md"
                        placeholder="Your Name"
                        autocomplete="name"
                        required
                    />
                </div>

                <div>
                    <label for="email" class="block text-lg font-medium mb-1"
                        >Email:</label
                    >
                    <input
                        id="email"
                        name="email"
                        type="email"
                        class="w-full px-3 py-2 border border-gray-800 rounded-md"
                        placeholder="Your Email"
                        autocomplete="email"
                        required
                    />
                </div>

                <div>
                    <label for="subject" class="block text-lg font-medium mb-1"
                        >Subject:</label
                    >
                    <input
                        id="subject"
                        name="subject"
                        type="text"
                        class="w-full px-3 py-2 border border-gray-800 rounded-md"
                        placeholder="Subject"
                        autocomplete="subject"
                        required
                    />
                </div>

                <div>
                    <label for="message" class="block text-lg font-medium mb-1"
                        >Message:</label
                    >
                    <textarea
                        id="message"
                        name="message"
                        class="w-full px-3 py-2 border border-gray-800 rounded-md"
                        rows="6"
                        placeholder="Your Message"
                        autocomplete="message"
                        required></textarea>
                </div>

                <button
                    type="submit"
                    id="submit-button"
                    class="flex items-center justify-center w-full rounded-lg bg-black px-4 py-3 text-white hover:bg-gray-800"
                >
                    <svg
                        id="loading-spinner"
                        class="mr-3 h-5 w-5 animate-spin text-white hidden"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                    >
                        <circle
                            class="opacity-25"
                            cx="12"
                            cy="12"
                            r="10"
                            stroke="currentColor"
                            stroke-width="4"></circle>
                        <path
                            class="opacity-75"
                            fill="currentColor"
                            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                        ></path>
                    </svg>
                    <span id="button-text" class="font-medium">Send</span>
                </button>
                <p
                    id="error-message"
                    style="color: rgb(198, 53, 53);"
                    class="hidden"
                >
                    There was an error sending your message. Please try again.
                </p>
                <p
                    id="success-message"
                    style="color: rgb(33, 91, 33);"
                    class="hidden"
                >
                    Message sent!
                </p>
            </form>
        </div>
    </div>
</BaseLayout>

<script>
    const form = document.querySelector("#contact-form") as HTMLFormElement
    const submitButton = document.querySelector(
        "#submit-button"
    ) as HTMLButtonElement
    const spinner = document.getElementById("loading-spinner") as HTMLElement
    const errorMessage = document.getElementById(
        "error-message"
    ) as HTMLParagraphElement
    const successMessage = document.getElementById(
        "success-message"
    ) as HTMLParagraphElement

    form.addEventListener("submit", async e => {
        e.preventDefault()

        errorMessage.classList.add("hidden")
        successMessage.classList.add("hidden")
        spinner.classList.remove("hidden")
        submitButton.disabled = true

        const name = (document.getElementById("name") as HTMLInputElement).value
        const email = (document.getElementById("email") as HTMLInputElement)
            .value
        const subject = (document.getElementById("subject") as HTMLInputElement)
            .value
        const message = (document.getElementById("message") as HTMLInputElement)
            .value

        try {
            await fetch(
                import.meta.env.PUBLIC_API_URL + `/send-contact-page-email`,
                {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({ name, email, subject, message }),
                }
            )

            successMessage.classList.remove("hidden")
        } catch (error) {
            errorMessage.classList.remove("hidden")
        } finally {
            spinner.classList.add("hidden")
            submitButton.disabled = false
        }
    })
</script>
