---
import BaseLayout from "@layouts/BaseLayout.astro"
import Moonlight from "@components/Moonlight.astro"
---

<BaseLayout
    title="Andrea Diotallevi | Generative Artist and Creative Coder"
    description="The artwork of Andrea Diotallevi, a practising generative artist, creative coder, software engineer, architect and pianist."
    darkTheme={true}
    tags={[
        "Andrea Diotallevi",
        "Andrea Diotallevi Art",
        "Generative Art",
        "Album Covers",
        "NFTs",
        "Giclee Fine Art Prints",
    ]}
>
    <div
        class="flex flex-col justify-center items-center min-h-[calc(100dvh-80px-80px)] bg-[#38444c]"
    >
        <div class="flex justify-center items-center text-white h-[100px]">
            Generative Artist & Creative Coder
        </div>
        <Moonlight server:defer>
            <div
                id="sketch"
                slot="fallback"
                class="h-[calc(100dvh-80px-80px-100px)]"
            >
            </div>
        </Moonlight>
    </div>
</BaseLayout>
