---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout
    title="Andrea Diotallevi | Generative Artist and Creative Coder"
    description="The artwork of Andrea Diotallevi, a practising generative artist, creative coder, software engineer, architect and pianist."
>
    <div class="flex justify-center items-center min-h-screen bg-[#38444c]">
        <div id="sketch"></div>
    </div></BaseLayout
>

<script>
    import p5 from "p5"

    const sketch = p5 => {
        let t = 0

        p5.setup = () => {
            p5.createCanvas(p5.windowWidth, p5.windowHeight - 300)
            p5.stroke(255, 25)
            p5.noFill()
        }

        p5.draw = () => {
            if (t > 0) {
                p5.translate(p5.width / 2, p5.height / 2)
                const n = p5.noise
                const a = 0.48 * p5.min(p5.width, p5.height)
                let b = n(t) * 6
                let c = n(t + 60) * 6
                p5.line(
                    p5.cos(b) * a,
                    p5.sin(b) * a,
                    p5.cos(c) * a,
                    p5.sin(c) * a
                )
            }
            t++
        }

        p5.mouseClicked = () => {
            p5.noiseSeed(p5.random(1000))
            p5.background(56, 68, 76)
            t = 0
            p5.draw()
        }
    }

    new p5(sketch, document.getElementById("sketch"))
</script>
