.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 48px 0;
}

.h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;

    @media (max-width: 691.99px) {
        font-size: 36px;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 48px;
    margin: 0 16px;
    max-width: 1400px;

    @media (max-width: 691.99px) {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 24px;
    }
}

.gridItem2 {
    display: flex;
    flex-direction: column;

    h2 {
        font-size: 24px;
        margin-bottom: 8px;
        font-weight: 700;

        @media (max-width: 691.99px) {
            font-size: 18px;
        }
    }

    p {
        margin-bottom: 24px;
        font-size: 16px;

        @media (max-width: 691.99px) {
            font-size: 14px;
        }
    }
}

.error {
    color: rgb(198, 53, 53);
}

.success {
    color: rgb(33, 91, 33);
}
