.table {
    max-width: 600px;
    height: fit-content;
    border-collapse: collapse;
    margin: 0 16px;

    td {
        padding: 8px 0;
    }
}

.logo {
    width: 44px;
}

td.logoText {
    width: 100%;
    padding-left: 16px;
}

td.title {
    font-weight: 700;
    font-size: 32px;
}

td.header {
    font-weight: 700;
    padding-bottom: 0;
}

.itemImage {
    max-width: 100px;
}
