.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    > div {
        display: flex;
        width: 1000px;
        margin: 0 16px;

        > div {
            display: flex;
            flex-direction: column;
            width: 50%;
            list-style: none;

            h2 {
                font-size: 25px;
                font-weight: bold;
                margin-bottom: 15px;
                opacity: 1;
            }

            p {
                margin-bottom: 24px;
                font-size: 16px;
            }

            &:first-of-type {
                padding-right: 20px;
            }

            &:last-of-type {
                padding-left: 20px;
            }
        }
    }

    button {
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        background-color: white;
        background-color: rgb(68, 68, 68);
        color: white;
        box-shadow: none;
        font-size: 18px;
        padding: 13px 0;
        width: 100%;
        border: none;
        // margin-top: 15px;
        font-weight: 500;
        border-radius: var(--border-radius);

        &:hover {
            transition: 0.3s;
            background-color: rgb(100, 100, 100);
        }
    }
}

@media (max-width: 691.99px) {
    .container {
        > div {
            flex-direction: column;
            width: 660px;

            > div {
                width: 100%;
                margin-bottom: 40px;

                &:first-of-type {
                    padding: 0;
                }

                &:last-of-type {
                    padding: 0;
                }
            }
        }
    }
}
