---
import { getActivePrices } from "../../../utils/stripe"

export async function getStaticPaths() {
    const prices = await getActivePrices()

    return prices.map(price => ({
        params: {
            slug: price.product.metadata.slug,
            category: price.product.metadata.category,
        },
        props: { price },
    }))
}
---

<div>OK</div>
