.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    // border-top: 1px solid rgba(132, 132, 132, 0.2);

    &.homepage {
        background-color: rgb(56, 68, 76);

        p,
        a {
            color: white;
        }

        svg {
            fill: white;
        }
    }

    li {
        list-style: none;
    }

    a {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-decoration: none;
        margin-bottom: 0;
        // margin-left: 8px;
        min-height: 48px;
        min-width: 48px;

        &:hover {
            opacity: 0.7;
            transition: 0.3s;
        }
    }

    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1400px;
        margin: 0 16px;

        p {
            font-size: 16px;
            margin-bottom: 0;
            margin-right: 8px;

            @media (max-width: 691.99px) {
                font-size: 14px;
            }
        }

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            max-width: 256px;

            @media (max-width: 691.99px) {
                max-width: 230px;
            }
        }
    }

    svg {
        display: block;
        fill: rgb(68, 68, 68);
        height: 20px;
    }

    span {
        visibility: hidden;
        font-size: 1px;
        width: 0;
    }
}
