.select {
    color: rgb(68, 68, 68);
    border-color: rgb(68, 68, 68);
    border-radius: 6px;
    margin-bottom: 8px;
    height: 49px;
    padding: 8px;
    width: 100%; /* Make the select element fill the width of its container */
    max-width: 100%; /* Ensure the select doesn't exceed its container's width */
    overflow: hidden; /* Hide any overflowing text */
    text-overflow: ellipsis; /* Show ellipsis (...) for truncated text */
    white-space: nowrap; /* Prevent wrapping of text */
    font-size: 16px;
    font-weight: 700;

    &:focus {
        outline: none;
    }

    @media (max-width: 691.99px) {
        font-size: 14px;
    }
}
