.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 24px;
    height: 24px;
    border: 2px solid white;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-left: 8px;

    @media (max-width: 691.99px) {
        border-width: 3px;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
