.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 120px;
    background-color: rgb(56, 68, 76);

    h1 {
        text-align: center;
        color: white;
        font-size: 32px;
        font-weight: 700;

        @media (max-width: 691.99px) {
            font-size: 24px;
        }
    }
}
