---
import BaseLayout from "../../../layouts/BaseLayout.astro"
---

<BaseLayout title="" description="">
    <div id="checkout"></div>
</BaseLayout>

<script>
    import { loadStripe } from "@stripe/stripe-js"

    const stripe = await loadStripe(
        import.meta.env.PUBLIC_STRIPE_PUBLISHABLE_KEY
    )

    const params = new URLSearchParams(window.location.search)
    const clientSecret = params.get("clientSecret") || ""

    const checkout = await stripe?.initEmbeddedCheckout({
        clientSecret,
    })

    checkout?.mount("#checkout")
</script>
