---
import { Image } from "astro:assets"
import BaseLayout from "../../../layouts/BaseLayout.astro"
---

<BaseLayout
    title="Checkout Success | Andrea Diotallevi Art"
    description="Thank you for your purchase! Your order has been successfully placed. Check your email for order details and shipping information."
>
    <div
        class="flex flex-col md:flex-row items-center md:items-start p-4 max-w-screen-xl mx-auto"
    >
        <div class="w-full md:w-1/2 mb-6 md:mb-0 md:mr-8">
            <div class="mb-4">
                <Image
                    quality={100}
                    inferSize={true}
                    src={""}
                    alt={""}
                    class="w-full h-auto rounded-lg"
                />
            </div>
        </div>

        <div class="w-full md:w-1/2">
            <h1 class="text-5xl font-bold mb-4">Thanks for your order!</h1>

            <div class="space-y-6">
                <div>
                    <p>
                        You will receive a confirmation email with the details
                        of your order.
                    </p>
                </div>
                <div>
                    <h2 class="text-xl font-semibold mb-2">Delivery address</h2>
                    <p>TBC</p>
                </div>
                <div>
                    <h2 class="text-xl font-semibold mb-2">Items</h2>
                    <p>TBC</p>
                </div>
                <div>
                    <h2 class="text-xl font-semibold mb-2">Payment summary</h2>
                    <p>TBC</p>
                </div>
            </div>

            <a
                href="/shop"
                class="mt-6 px-6 py-3 text-white bg-black rounded-lg w-full hover:bg-gray-800"
            >
                Discover more
            </a>
        </div>
    </div>
</BaseLayout>

<script>
    import { sendGA4PurchaseEvent } from "../../../utils/ga4"
    import { retrieveCheckoutSession } from "../../../utils/stripe"

    const params = new URLSearchParams(window.location.search)
    const sessionId = params.get("session_id") || ""

    const session = await retrieveCheckoutSession({ sessionId })
    console.log(session)

    if (!session) {
        throw new Error("Failed to retrieve session")
    }

    sendGA4PurchaseEvent({ session })
</script>
