* {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 17px;
  margin: 0;
  padding: 0;
}

p,
a,
h1,
h2,
h3,
h4 {
  color: rgb(68, 68, 68);
}

a {
  text-decoration: none;
}

body,
#___gatsby,
#gatsby-focus-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.app {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* min-height: 100vh; */
}
