---
import LoadingSpinner from "@components/LoadingSpinner.astro"

import type { StripePrice } from "@utils/stripe"

interface Props {
    priceCurrencyOptions: StripePrice["currency_options"]
}

const { priceCurrencyOptions } = Astro.props
---

<div
    id="localised-price"
    data-currency-options={JSON.stringify(priceCurrencyOptions)}
>
    <LoadingSpinner />
</div>

<script>
    import { formatCurrency } from "@utils/intl"
    import { getLocaleCurrency } from "@utils/serverless"
    import type { StripePrice } from "@utils/stripe"

    document.addEventListener("astro:page-load", async () => {
        const element = document.getElementById("localised-price")

        if (!element) return

        const priceCurrencyOptions = JSON.parse(
            element.dataset.currencyOptions!
        ) as StripePrice["currency_options"]

        const currency = await getLocaleCurrency()

        element.innerHTML = formatCurrency({
            value: priceCurrencyOptions[currency].unit_amount,
            currency,
        })
    })
</script>
