---
import Button from "@components/Button.astro"
---

<div class="w-full flex justify-center items-center">
    <div class="w-full max-w-screen-xl px-4">
        <div
            class="w-full flex justify-center items-center pt-8 pb-2 border-t border-gray-400"
        >
            <div class="w-full max-w-sm">
                <h3 class="mb-2 md:text-center">
                    <!-- Get 10% off your first purchase and be the first to know
                    when I launch new products. -->
                    Art prints shop coming soon. Be the first to know!
                </h3>
                <form id="newsletter-form" class="space-y-4">
                    <div>
                        <!-- <label for="email" class="block mb-1">Email:</label> -->
                        <input
                            id="email"
                            name="email"
                            type="email"
                            class="w-full px-3 py-3 border border-black rounded-md"
                            placeholder="Your Email"
                            autocomplete="email"
                            required
                        />
                    </div>
                    <Button
                        variant="secondary"
                        id="submit-button"
                        buttonText="Join"
                        errorMessage="There was an error sending your message. Please try again."
                        successMessage="Thank you for subscribing!"
                    />
                    <!-- <p class="text-center text-sm">Unsubscribe Anytime</p> -->
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    import { newsletterCreateContact } from "@utils/serverless"

    document.addEventListener("astro:page-load", async () => {
        const newsletterForm = document.querySelector("#newsletter-form")

        if (!newsletterForm) return

        const button = newsletterForm.querySelector(
            "#submit-button"
        ) as HTMLButtonElement

        const spinner = newsletterForm.querySelector("#loading-spinner")!
        const errorMessage = newsletterForm.querySelector("#error-message")!
        const successMessage = newsletterForm.querySelector("#success-message")!

        newsletterForm.addEventListener("submit", async e => {
            e.preventDefault()

            button.disabled = true
            spinner.classList.remove("hidden")
            errorMessage.classList.add("hidden")
            successMessage.classList.add("hidden")

            const email = (
                newsletterForm.querySelector("#email") as HTMLInputElement
            ).value

            const { error } = await newsletterCreateContact({ email })

            if (error) {
                if (error === "AlreadyExistsException") {
                    successMessage.classList.remove("hidden")
                    spinner.classList.add("hidden")
                    button.disabled = false
                    return
                }

                console.error(error)
                errorMessage.classList.remove("hidden")
                spinner.classList.add("hidden")
                button.disabled = false
                return
            }

            successMessage.classList.remove("hidden")
            spinner.classList.add("hidden")
            button.disabled = false
        })
    })
</script>
