.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
    list-style: none;
    margin: 0 16px;
    max-width: 1400px;
    margin-top: 48px;

    li {
        margin-bottom: 8px;

        &:hover {
            transition: 0.3s;
            opacity: 0.7;
        }
    }

    h2 {
        margin-top: 8px;
        margin-bottom: 4px;
        font-weight: 700;
    }

    @media (max-width: 1041.99px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 691.99px) {
        // margin-top: 0;
        grid-gap: 40px;

        p {
            font-size: 12px;
        }
    }
}

.fixed {
    position: fixed;
    writing-mode: vertical-rl;
    top: 128px;
    font-size: 38px;
    font-weight: 700;

    @media (max-width: 691.99px) {
        font-size: 24px;
        top: 80px;
    }
}
