.link {
    color: rgb(68, 68, 68);
    font-size: 16px;
    padding: 10px 0;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(132, 132, 132, 0.2);

    &.isHome {
        color: white;
    }

    &:hover {
        opacity: 0.6;
        transition: 0.3s;
    }
}

.active-nav-item {
    opacity: 0.6;
}
