.menu {
    display: flex;
    justify-content: center;
    width: 100%;

    &.isHome {
        background-color: rgb(56, 68, 76);
    }

    ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0 16px;
    }
}

@media (min-width: 692px) {
    .menu {
        display: none;
    }
}
