.header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    // border-bottom: 1px solid rgba(132, 132, 132, 0.2);

    h2 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 24px;
    }

    &.homepage {
        background-color: rgb(56, 68, 76);

        a,
        h2 {
            color: white;
        }
    }

    a {
        text-decoration: none;
        margin-bottom: 0;
        white-space: nowrap;
        font-weight: bold;

        &:hover {
            opacity: 0.7;
            transition: 0.3s;
        }
    }

    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1400px;
        margin: 0 16px;

        ul {
            display: flex;
            align-items: center;
            list-style-type: none;
            margin-bottom: 0;

            li {
                margin-bottom: 0;
                margin-left: 33px;
            }

            @media (max-width: 691.99px) {
                display: none;
            }
        }
    }
}
