.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;

    div {
        display: flex;
        justify-content: center;
        width: 1010px;

        p {
            font-size: 17px;
            color: rgb(68, 68, 68);
            opacity: 0.6;
            text-align: center;
        }

        @media (max-width: 1090px) {
            width: 660px;
        }
    
        @media (max-width: 740px) {
            width: 88vw;

            // p {
            //     max-width: 230px;
            // }
        }
    }

    &.isHome {
        background-color: rgb(56, 68, 76);
        div p {
            color: white;
        }
    }
}
