.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 48px 0;

    @media (max-width: 691.99px) {
        margin-top: 0;
    }
}

.h1 {
    position: fixed;
    top: 128px;
    writing-mode: vertical-rl;
    font-size: 32px;
    font-weight: 700;

    @media (max-width: 691.99px) {
        font-size: 24px;
        margin: 0 16px;
        margin-bottom: 8px;
        left: 0;
    }
}

.backButtonContainer {
    display: none;

    @media (max-width: 691.99px) {
        display: flex;
        align-items: center;
        width: 100%;
        height: 24px;
        padding: 12px 0;
    }

    .backButtonIcon {
        content: " ";
        border-left: 3px solid rgb(68, 68, 68);
        border-bottom: 3px solid rgb(68, 68, 68);
        width: 14px;
        height: 14px;
        transform: rotate(45deg);
        cursor: pointer;
        display: block;
        margin-left: 64px;
        border-radius: 2px;
    }

    .backButtonText {
        font-size: 24px;
        font-weight: 700;
        margin-left: 8px;

        @media (max-width: 691.99px) {
            font-size: 18px;
        }
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
    margin: 0 16px;
    max-width: 1400px;

    @media (max-width: 691.99px) {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 48px;
        padding-left: 46px;
    }
}

.gridItem1 {
    display: flex;
    flex-direction: column;
}

.imageList {
    display: flex;
    list-style: none;
    margin-top: 20px;
}

.imageListItem {
    width: 70px;
    cursor: pointer;
    margin-right: 10px;
    border: 2px solid white;
    border-style: dotted;
    padding: 2px;

    &.active {
        border-color: rgb(68, 68, 68);
    }
}

.button {
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    background-color: white;
    background-color: rgb(68, 68, 68);
    color: white;
    box-shadow: none;
    font-size: 18px;
    padding: 13px 0;
    width: 100%;
    border: none;
    font-weight: 700;

    &:hover {
        transition: 0.3s;
        background-color: rgb(100, 100, 100);
    }
}

.gridItem2 {
    display: flex;
    flex-direction: column;

    h2 {
        font-size: 24px;
        margin-bottom: 8px;
        font-weight: 700;

        @media (max-width: 691.99px) {
            font-size: 18px;
        }
    }

    p {
        margin-bottom: 24px;
        font-size: 16px;

        @media (max-width: 691.99px) {
            font-size: 14px;
        }
    }
}
